---
pageTitle: Anne-Claire van Putten | BATC Complementary Therapist
title: Anne-Claire van Putten
description: Anne-Claire van Putten is a BATC Complementary Therapist, offering a range of therapies to support your health and well-being.
keywords: [orthomolecular medicine, medicine, naturopathy, reflex zone, electro acupuncture]
language: en
---

<!doctype html>
<html lang="{{ language }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Anne-Claire van Putten">
    <meta name="description" content="{{ description }}">
    <meta name="keywords" content="{{ keywords | join(', ') }}">
    <link rel="stylesheet" href="/public/css/bundle.css">
    <title>{{ pageTitle }}</title>
    <!-- favicon -->
    <link rel="icon" type="image/x-icon" href="/public/images/favicon/favicon.ico">
  </head>
  <body>
    {{ content | safe }}

    <!-- include public/js/menu.js -->
    <script src="/public/js/menu.js"></script>
  </body>
</html>